apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: datastore-zero-pvc
  namespace: {{ target_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
